{% extends 'bookmodule/layouts/base.html' %}

{% block content %}
<div class="lab8-container">
    <h2>Task 3: No Edition > 3 and No qu in Title/Author</h2>

    <table>
        <thead>
            <tr>
                <th>Edition</th>
                <th>Author</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.edition }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.title }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No books found matching this criteria.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}